<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @post.published_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.surname %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<br>

<% @comments.each do |comment| %>
<div class="" style="border: 1px solid black;">
 <p><%= comment.user.surname %> <%= comment.created_at %></p>
 <p><%= comment.post.title %></p>
 <p><%= comment.content %></p>
 <br>
 <p><%= link_to 'Edit', edit_comment_path(comment) %> <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure ?' } %></p>
</div>
<br>

<% end %>
