<p id="notice"><%= notice %></p>

<p>
  <strong>Power:</strong>
  <%= @vehicle.power %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @vehicle.vehicle_type %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @vehicle.registration %>
</p>

<p>
  <strong>State:</strong>
  <%= @vehicle.state %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
