<%= form_with(model: scale, local: true) do |form| %>
  <% if scale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scale.errors.count, "error") %> prohibited this scale from being saved:</h2>

      <ul>
      <% scale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.date_select :year %>
  </div>

  <div class="field">
    <%= form.label :vehicle_type %>
    <%= form.text_field :vehicle_type %>
  </div>

  <div class="field">
    <%= form.label :power %>
    <%= form.text_area :power %>
  </div>

  <div class="field">
    <%= form.label :coefficient %>
    <%= form.text_field :coefficient %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
