<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @scale.year %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @scale.vehicle_type %>
</p>

<p>
  <strong>Power:</strong>
  <%= @scale.power %>
</p>

<p>
  <strong>Coefficient:</strong>
  <%= @scale.coefficient %>
</p>

<%= link_to 'Edit', edit_scale_path(@scale) %> |
<%= link_to 'Back', scales_path %>
