<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select(:user_id, User.where(admin: true).collect { |use| [use.surname, use.id] }) %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.select(:post_id, Post.all.collect { |use| [use.title, use.id] }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
