body {
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,250,255,1) 53%, rgba(255,250,255,1) 53%, rgba(235,235,235,1) 73%, rgba(222,222,222,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(53%, rgba(255,250,255,1)), color-stop(53%, rgba(255,250,255,1)), color-stop(73%, rgba(235,235,235,1)), color-stop(100%, rgba(222,222,222,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,250,255,1) 53%, rgba(255,250,255,1) 53%, rgba(235,235,235,1) 73%, rgba(222,222,222,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,250,255,1) 53%, rgba(255,250,255,1) 53%, rgba(235,235,235,1) 73%, rgba(222,222,222,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,250,255,1) 53%, rgba(255,250,255,1) 53%, rgba(235,235,235,1) 73%, rgba(222,222,222,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,250,255,1) 53%, rgba(255,250,255,1) 53%, rgba(235,235,235,1) 73%, rgba(222,222,222,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede', GradientType=1 );
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.caseBataille {
  width:20px;               /* permet d'aligner les chiffres dans la case */
  height:20px;
  text-align:center;
}

table {
  border: 1px solid red;
}

td, tr {
  border: 1px solid black;
}
