<p id="notice"><%= notice %></p>

<h1>Travels</h1>

<table>
  <thead>
    <tr>
      <th>Start adress</th>
      <th>End adress</th>
      <th>Distance</th>
      <th>Date</th>
      <th>Reason</th>
      <th>State</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travels.each do |travel| %>
      <tr>
        <td><%= travel.start_adress %></td>
        <td><%= travel.end_adress %></td>
        <td><%= travel.distance %></td>
        <td><%= travel.date %></td>
        <td><%= travel.reason %></td>
        <td><%= travel.state %></td>
        <td><%= travel.amount %></td>
        <td><%= link_to 'Show', travel %></td>
        <td><%= link_to 'Edit', edit_travel_path(travel) %></td>
        <td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel', new_travel_path %>
