<p id="notice"><%= notice %></p>

<p>
  <strong>Start adress:</strong>
  <%= @travel.start_adress %>
</p>

<p>
  <strong>End adress:</strong>
  <%= @travel.end_adress %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @travel.distance %>
</p>

<p>
  <strong>Date:</strong>
  <%= @travel.date %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @travel.reason %>
</p>

<p>
  <strong>State:</strong>
  <%= @travel.state %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @travel.amount %>
</p>

<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', travels_path %>
