/* Mise en page du modal en background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Mise en forme de la boite du modal, le cadre */
.modal_content {
  color: blue;
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 5px solid blue;
  width: 80%;
}

/* Mise en forme du qui ferme le modal */
.close {
  color: blue;
  float: right;
  font-size: 30px;
  font-weight: bolder;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: wait;
}
